body {background-color: #2f3333;

}

/* main div to hold everything */
div#main {position: static;
    box-sizing: border-box;
    background-color: #2f3333;
    height: 1000px;}

/* boxes that go inside of main */


nav {overflow: hidden;
width: 100%;
background-color: #2f3333;
display: block;}

aside#right {position: static;
    box-sizing: border-box;
    height: 100%;
    background-color: #93AA9D;
    width: 50%;
    float: right;}

aside#left {position: sticky;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    float: left;
    background-image:url(IMG_2944.jpg);
    background-size: cover;
    background-position: center;}

section#eyes {position: static;
    box-sizing: border-box;
    background:  url(eyes.jpg);
    background-position: center;
    background-size: cover;
    height: 10%;
    width: 100%;}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 2px;
}

.column1{
    -ms-flex: 70%;
    flex: 70%;
    max-width: 70%;
    padding: 0 2px;
}

.column2{
    margin-top: 8px;
    vertical-align: middle;
    width: 30%;
}

@media screen and (max-width: 600px){
    .column2 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 600px){
    .column1 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

#article {display: flexbox;
    height: auto;
    box-sizing: border-box;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;}


footer {position: static;
    box-sizing: border-box;
    /* use clear to make footer got to the next line */
    clear: both;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    background-color: #2f3333;
    text-align: center;}

small {color: white;
   font-size: 14px;
    font-family: arial;}

h1 {position: absolute;
box-sizing: border-box;
padding-left: 50%;
background-color: transparent;
color:#2f3333;
opacity: 100%;
font-family: my_font_1;
font-size: 150px;}

h2 {position: absolute;
padding-left: 30px;
float: right;
color:ghostwhite;
opacity: 0.5;
font-size: 150px;
font-family: my_font_1;}

h3 {font-family: my_font_1;
font-size: 30px; 
float: left;
padding-left: 30px;
color: ghostwhite;}

h4 {position: absolute;
font-family: my_font_1;
font-size: 30px; 
float: left;
opacity:0.5;
padding-left: 30px;
color: ghostwhite;
white-space: nowrap;}

.resumelink {margin-top:15px;
opacity: 100;
position: absolute;
font-family: my_font_1;
font-size: 30px; 
float: left;
padding-left: 30px;
color: ghostwhite;
white-space: nowrap;
font-style: normal;
text-decoration: underline;}

.contacttext {font-size: 25px;}

.contactlink { margin-top: -250px;
        padding-left: 150px;}
p1 {
position: center;
padding-left: 70px;
padding-right: 70px;
color: black;
font-family: my_font_3;
font-size: 30px;
line-height: 22px;}

p {position: center;
padding-top: 50px;
padding-left: 70px;
padding-right: 70px;
color: black;
font-family: my_font_3;
font-size: 16px;
line-height: 22px;}

/* style for a tags inside of nav */
nav a {float: left;
float: right;
color: ghostwhite;
text-align: center;
padding: 12px 18px;
text-decoration: none;
font-family: my_font_2;
font-size: 18px;}

nav a:link {color: ghostwhite;
    background-color: #2f3333;
    display: inline-block;
    text-decoration: none;
    text-align: center;}

nav a:visited {color: ghostwhite;
    background-color: #2f3333;}

nav a:hover {background-color: #ddd;
        color: #2f3333;
        text-decoration: none;
        font-style: italic;}

nav a:active {color: #809388;
    background-color: ghostwhite;
    transform: translate(4px, 4px);
    font-style: oblique;}

/* style for regular links on the page */
p a {color: #09e3ad;}

p a:hover {color: #2f3333;}

p a:active {color: #809388;}

.fa { padding: 20px;
font-size: 30px;
width: 50px;
border-radius: 5%;
text-align: center;
text-decoration: none;
margin: 5px 2px;}

.fa:hover {opacity: 0.7;}

.fa-facebook {
background: #809388;
color: white;}

.fa-linkedin {
background: #809388;
color: white;}

.fa-instagram {
background: #809388;
color: white;}

