body {
    background-color: #2f3333;
    color: ghostwhite;
    font-family: my_font_3;
}

h1 {
    font-size: 8vw;
    font-family: my_font_3;
}

h2 {
    font-size: 5vw;
}

p {
    font-size: 2vw;
}
h3 {
    font-size: 3vw;
}
a {
    color: ghostwhite;
    text-decoration: none;
    display: block;
    font-size: 2vw;
}