body {
    background-color: #2f3333;
    color: ghostwhite;
    font-family: my_font_3;
}

#top {
    display: flex;
    border-bottom: 1vw solid ghostwhite;
}

.top-left{
    display: inline-flex
}

.top-right {
    display: inline-flex;
}

#middle {
    display: flex;
    border-bottom: 1vw solid ghostwhite;
}

.middle-left {
    display: inline-flex;
}

.middle-right {
    display: inline-flex;
}

#bottom {
    display: flex;
}

.bottom-left {
    display: inline-flex;
}
.bottom-right {
    display: inline-flex;
}