* {
    box-sizing: border-box;
}

body {
    background-color: #2f3333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2f3333;
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 1.5rem;
    margin: 0.5rem;
    text-decoration: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{ 
    text-decoration: none;
    color: ghostwhite;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color:#ddd;
}

.toggle-button {
   position: absolute;
   top: 0.75rem;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: ghostwhite;
    border-radius: 10px;
}

@media (max-width: 955px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-bar li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}

.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f3333;
}

.container {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    height: 60vw;
    background-image:url(IMG_2944.jpg);
    background-position: center;
    background-size: cover;
}
.right {
    width: 50%;
    height: 60vw;
    background-color: #809388;
    display: inline-flex;
    align-items: center;
}

.row2{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.bottom {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.row1{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
}

.column1 {
    flex: 100%;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    height: 10%;
    
}

.column2{
    -ms-flex: 70%;
    flex: 70%;
    max-width: 70%;
    padding: 0;
}

.column3{
    align-content: flex-start;
    background-color: ghostwhite;
    vertical-align: middle;
    width: 30%;
    padding-top: 4px;
}

@media screen and (max-width: 865px){
    .column3 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 865px){
    .column2 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

#article {
    display: inline-block;;
    height: auto;
    box-sizing: border-box;
    background-color: ghostwhite;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}


footer {
    position: static;
    box-sizing: border-box;
    /* use clear to make footer got to the next line */
    clear: both;
    width: 100%;
    padding-top: 2vw;
    background-color: #2f3333;
    text-align: center;
}

small {
    color: ghostwhite;
    font-size: 2vw;
    font-family: arial;
}

h1 {
    background-color: transparent;
    color:#2f3333;
    opacity: 100%;
    font-family: my_font_1;
    font-size: 15vw;
}

h2 {
    margin-left: -7vw;
    color:ghostwhite;
    opacity: 0.5;
    font-size: 15vw;
    font-family: my_font_1;
}

.resume {
    font-size: 12vw;
}

.resume#text{
    margin-left: -5vw;
}

.resume#icon {
    margin-left: 0vw;
}

.contact{
    font-size: 10vw;
}

.contact#text{
    margin-left: -4vw;
}

.contact#icon{
    margin-left: 0vw;
}

.contact#intro{
    margin-left: -37vw;
    font-size: 1.5vw;
}
h3 {
    font-family: my_font_1;
    font-size: 4vw; 
    text-align: left;
    padding-left: 1em;
    color: ghostwhite;
}

h4 {
    margin-left: -42.5vw;
    font-family: my_font_1;
    font-size: 2.5vw; 
    opacity:0.5;
    color: ghostwhite;
    white-space: nowrap;
}

h5 {
    font-family: my_font_1;
    font-size: 3vw;
    color: ghostwhite;
    width: 100%;
}

.resumelink {
    margin-top: 15vw;
    position: absolute;
    margin-left: 2vw;
    font-family: my_font_3;
    font-size: 3vw; 
    color: #2f3333;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
    padding: 3vw 8vw;
    background-color: ghostwhite;
    letter-spacing: 0.5vw;
}

.iconcontainer{
    display: inline-flex;
    padding-inline-start: 0vw;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
}

.containertext {
    margin-right: 2vw;
    margin-left: -0.5vw;
    flex-wrap: wrap;
    font-family: my_font_3;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    display: block;
    justify-content: flex-end;
    color: #FFFFFF;
}
       
.greet {position: center;
    padding-left: 70px;
    padding-right: 70px;
    color: black;
    font-family: my_font_3;
    font-size: 4vw;
    line-height: 6vw;
}

p {
    position: center;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    color: black;
    font-family: my_font_3;
    font-size: 2vw;
    line-height: 4vw;
}

.button {
    background-image: url(cooking.jpg);
    background-position: center;
    background-size: 100vw;
    padding: 8vw 8vw;
    font-family: my_font_3;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    letter-spacing: 0.5vw;
    font-size: 4vw;

}
.button a {
    text-decoration: none;

}

.button a:hover {
    opacity: 0.5;
    text-decoration: none;
    background-color: #2f3333;
    color: #FFFFFF;
}

.fa { 
    padding: 2vw;
    font-size: 4vw;
    width: 6vw;
    list-style-type: none;
    display: block;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    margin: 2vw 1vw;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #809388;
    color: ghostwhite;
}

.fa-linkedin {
    background: #809388;
    color: ghostwhite;
}

.fa-instagram {
    background: #809388;
    color: ghostwhite;
}

@media screen and (max-width: 400px){
    .containertext{
        display: flex;
    }
}
